<div id="add-course" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Add Course</h3>
    </div>
    <div class="modal-body">
        <form id="form-add-course" action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_standard_ajax }}
        </form>
    </div>
    <div class="modal-footer">
        <a id="add-course-button" class="btn btn-primary" data-loading-text="Adding...">Add Course</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

  function form_add_course_callback(data) {
    $('#add-course-button').button('reset');
    if(data.status == 'OK') {
      $('#add-course').modal('hide');
      window.location.reload();
    }
  }

  $(document).ready(function() {

    $('#form-add-course').ajax_form({
      trigger : $('#add-course-button'),
      preSubmit : function() {
        $('#add-course-button').button('loading');
      },
      appFunction : 'homeroom.form_add_course',
    });

    $('#form-add-course input[name="title"]').auto_complete({
      source : '/autocomplete_course/',
      select : function(event, ui) {
        $(this).val(ui.item.title);
        $('#form-add-course input[name="course"]').attr('value', ui.item.value);
        return false;
      },
      search : function(event, ui) {
        $('#form-add-course input[name="course"]').attr('value', '');
      },
      render : function(ul, item) {
        ul.addClass('typeahead dropdown-menu');
        var title = item.title;
        var text = RegExp.escape($('#form-add-course input[name="title"]').val());
        title = title.replace(new RegExp('(' + text + ')', 'ig'), function($1, match) {
          return '<strong>' + match + '</strong>'
        });
        return $('<li></li>').data('item.autocomplete', item).append('<a><h6>' + item.abbrev + '</h6>' + title + '</a>').appendTo(ul);
      },
    });

  });

</script>