{% load base_extra %}

<div id="report" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    {% if user.is_authenticated %} <h3>Thank You, {{ user.first_name }}!</h3>
    {% else %} <h3>Thank You!</h3>
    {% endif %}
  </div>
  <div class="modal-body">
    <form id="form-report" action="" method="post" class="form-vertical">
      {% csrf_token %}
      {{ report_form.as_standard_ajax }}
    </form>
  </div>
  <div class="modal-footer">
    <a id="send-report-button" class="btn btn-danger" data-loading-text="Sending...">Send Report</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  function form_report_callback(data) {
    $('#send-report-button').button('reset');
    if(data.status == 'OK') {
      $('#form-report textarea').attr('value', '');
      $('#report').modal('hide');
    }
  }

  $(document).ready(function() {

    $('#form-report').ajax_form({
      trigger : $('#send-report-button'),
      preSubmit : function() {
        $('#send-report-button').button('loading');
      },
      appView : 'backstage.form_report',
    });

  });

</script>