{% load base_extra %}

<div id="add-specialization" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Add Specialization</h3>
  </div>
  <div class="modal-body">
    Test.
    <!--<form id="form-encouragement" action="" method="post" class="form-vertical">
      {% csrf_token %}
      {% encouragement_form %}
      {% for field in encouragement_form %}
      <div id="form-encouragement-{{ field.html_name }}" class="control-group">
        {{ field.label_tag }}
        <div class="controls">
          {{ field }}<span class="help-inline"></span>
        </div>
      </div>
      {% endfor %} <div id="form-encouragement-error"></div>
    </form>-->
  </div>
  <div class="modal-footer">
    <!--<a id="post-encouragement-button" class="btn btn-primary" data-loading-text="Posting..." onclick="form_encouragement();">Add</a>-->
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<!--<script type="text/javascript" charset="utf-8">
	function form_encouragement() {
		var form_id = 'form-encouragement';
		// Set hidden field
		$('#form-encouragement input[name="person_to"]').attr('value', '{{ current_user.id }}');
		form_data = $('#' + form_id).serializeObject(true);
		$('#post-encouragement-button').button('loading');
		Dajaxice.Minerva.account.form_encouragement(Dajax.process, {
			'form_data' : form_data,
			'form_id' : form_id
		});
	}

	function form_encouragement_callback(data) {
		$('#post-encouragement-button').button('reset');
		if(data.status == 'OK') {
			$('#encouragement').modal('hide');
			window.location.reload();
		}
	}
</script>-->