// Bootstrap
@import "bootstrap.less";

// Widgets
@import "datepicker.less";

.vertical-space {
  height: @gridGutterWidth / 4;
}

// Reposition Body
body {
  padding-top: @navbarHeight + 20px;
  padding-bottom: 20px;
}
