// Bootstrap
@import "bootstrap.less";

// Widgets
@import "datepicker.less";

.vertical-space {
  height: @gridGutterWidth / 4;
}

.white-text {
  color: white;
}

// Reposition Body
body {
  padding-top: @navbarHeight + 20px;
  padding-bottom: 20px;
}

// Responsive UI (Last Line)
@import "responsive.less";
