{% extends "base.html" %}

{% load webdesign %}

{% block title %}Mynodo - Home{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
	function my_js_callback(data) {
		alert(data.message);
	}

	function form_add_course() {
		var form_id = 'form-add-course';
		form_data = $('#' + form_id).serializeObject(true);
		Dajaxice.Minerva.course.form_add_course(Dajax.process, {
			'form_data' : form_data,
			'form_id' : form_id
		});
	}

	function form_add_course_callback(data) {
		if(data.status == 'OK') {
			//$('#form-add-course input[type="text"]').attr('value', '');
			$('#add-course').modal('hide');
		}
	}
</script>
<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
      {% if user.is_authenticated %}
      <div class="span5">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200" alt="" />
        </div>
        <div class="vertical-space"></div>
        <div class="well">
          <h6>Badges</h6>
          <div class="vertical-space"></div>
          <ul class="thumbnails">
            {% for b in badges %}
            <li>
              <a class="thumbnail" rel="popover" data-content="Obtained: {{ b.obtained }}<br />EXP: {{ b.exp }}<br />" data-original-title="{{ b.badge }}"> <img src="http://placehold.it/60x60" alt="" /> </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="span7">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h6>{{ user.get_profile.institute }}</h6>
        <div class="vertical-space"></div>
        <h5>Specialization:</h5>
        {% for specialization in user.get_profile.specialization_set.all %} <h6>{{ specialization.name }}</h6>
        {% endfor %} <div class="vertical-space"></div>
        <h5>Skills:</h5>
        {% for skill in user.get_profile.skill_set.all %} <h6>{{ skill.name }}</h6>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div><!--/span-->
  <div class="span3">
    <div class="row-fluid">
      {% if user.is_authenticated %} <h2>Spotlight</h2>
      {% lorem 1 p %} <div class="vertical-space"></div>
      <div class="tooltip-demo well">
        <p class="muted" style="margin-bottom: 0;">
          Tight pants next level keffiyeh <a href="#" rel="tooltip" data-original-title="first tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" rel="tooltip" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A <a href="#" rel="tooltip" title="Another one here too">really ironic</a> artisan whatever keytar, scenester farm-to-table banksy Austin <a href="#" rel="tooltip" title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.
        </p>
      </div>
      {% endif %}
    </div>
  </div><!--/span-->
  <div class="span3">
    <div class="row-fluid">
      {% if user.is_authenticated %} <h2>Courses</h2>
      <div class="vertical-space"></div>
      <h4>Currently Taking</h4>
      <div class="vertical-space"></div>
      {% for s in sections %} <h5>{{ s.section.course.name }}</h5>
      <h6>{{ s.section.first_day }} to {{ s.section.last_day }}</h6>
      <h6>{{ s.section.instructor.user.first_name }} {{ s.section.instructor.user.last_name }}</h6>
      <div class="vertical-space"></div>
      {% endfor %}
      <div id="add-course" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Add Course</h3>
        </div>
        <div class="modal-body">
          <form id="form-add-course" action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
            <div id="form-add-course-{{ field.html_name }}" class="control-group">
              {{ field.label_tag }}
              <div class="controls">
                {{ field }}<span class="help-inline"></span>
              </div>
            </div>
            {% endfor %} <div id="form-add-course-error"></div>
          </form>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" onclick="form_add_course();">Add</a>
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>
      <a data-toggle="modal" href="#add-course" class="btn btn-primary">Add Course</a>
      {% endif %}
    </div>
  </div><!--/span-->
  <div class="span3">
    <div class="row-fluid">
      {% if user.is_authenticated %} <h2>Instructors</h2>
      <a class="btn btn-primary" onclick="Dajaxice.Minerva.core.helloworld(my_js_callback);"> AJAX Test </a>
      <div class="vertical-space"></div>
      {% lorem 5 p %}
      {% endif %}
    </div>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}