{% extends "base.html" %}

{% load base_extra %}

{% block title %}{{ SITE_NAME }} - Sign In{% endblock %}

{% block content %}

<form action="" method="post">

  {% csrf_token %}

  <h1>Sign In</h1>    
  
  <div class="login-fields">
    <p>Sign in using your registered account:</p>
    <div class="field">
      <label for="emailname">Username:</label>
      <input type="text" id="id_emailname" name="emailname" placeholder="Username / E-mail" class="login username-field" />
    </div>
    <div class="field">
      <label for="password">Password:</label>
      <input type="password" id="id_password" name="password" placeholder="Password" class="login password-field"/>
    </div>
  </div>
  
  <div class="login-actions">
    <a href="#">Forgotten Your Password?</a>
    <button class="button btn btn-warning btn-large">Sign In</button>
  </div>
  
  <!--<div class="login-social">
    <p>Sign in using social network:</p>
    <div class="twitter">
      <a href="#" class="btn_1">Login with Twitter</a>        
    </div>
    <div class="fb">
      <a href="#" class="btn_2">Login with Facebook</a>        
    </div>
  </div>-->

</form>

{% endblock %}

{% block extra %}

<div class="login-extra">
  Don't have an account? <a href="{% url signup %}">Sign Up</a>
</div>

{% endblock %}
