{% extends "base.html" %}

{% load base_extra %}

{% block title %}{{ SITE_NAME }} - Sign In{% endblock %}

{% block content %}

<form action="" method="post">

  {% csrf_token %}

  <h1>Sign In</h1>    
  
  <div class="login-fields">
    <p>Sign in using your registered account:</p>
    {% if form.emailname.errors %}
    <div class="field error">
    {% else %}
    <div class="field">
    {% endif %}
      <label for="emailname">Username:</label>
      <input type="text" id="id_emailname" name="emailname" placeholder="Username / E-mail" class="login username-field" />
      {% if form.emailname.errors %}
      <span class="help-inline">{{ form.emailname.errors|safe }}</span>
      {% endif %}
    </div>
    {% if form.password.errors %}
    <div class="field error">
    {% else %}
    <div class="field">
    {% endif %}
      <label for="password">Password:</label>
      <input type="password" id="id_password" name="password" placeholder="Password" class="login password-field"/>
      {% if form.password.errors %}
      <span class="help-inline">{{ form.password.errors|safe }}</span>
      {% endif %}
    </div>
    {% if form.non_field_errors %}
    <div class="alert alert-error">
      {{ form.non_field_errors|safe }}
    </div>
    {% endif %}
  </div>
  
  <div class="login-actions">
    <a href="#">Forgotten Your Password?</a>
    <button class="button btn btn-success btn-large">Sign In</button>
  </div>
  
  <div class="login-social">
    <p>Sign in using social network:</p>
    <!--<div class="twitter">
      <a href="#" class="btn_1">Login with Twitter</a>        
    </div>-->
    <div class="fb">
      <a href="{% url facebook_login %}" class="btn_2">Facebook Connect</a>
    </div>
  </div>

</form>

{% endblock %}

{% block extra %}

<div class="login-extra">
  Don't have an account? <a href="{% url signup %}">Sign Up</a>
</div>

{% endblock %}
