{% extends "base.html" %}

{% load base_extra %}

{% block title %}{{ SITE_NAME }} - Sign Up{% endblock %}

{% block content %}

<form action="" method="post" class="register">

  {% csrf_token %}

  <h1>Create Your Account</h1>      
      
  <!--<div class="login-social">
    <p>Sign in using social network:</p>
    <div class="twitter">
      <a href="#" class="btn_1">Login with Twitter</a>        
    </div>
    <div class="fb">
      <a href="#" class="btn_2">Login with Facebook</a>        
    </div>
  </div>-->

  <div class="login-fields">

	<p>Create your free account:</p>

    {{ form.as_landing }}
    <!--{% if form.non_field_errors %}
    <div class="alert alert-error">
      {{ form.non_field_errors|safe }}
    </div>
    {% endif %}-->

  </div>
  
  <div class="login-actions">
    
    <span class="login-checkbox">
      <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
      <label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
    </span>
              
    <button class="button btn btn-success btn-large">Register</button>

  </div>
  
</form>

{% endblock %}

{% block extra %}

<div class="login-extra">
  Already have an account? <a href="{% url login %}">Login</a>
</div>

{% endblock %}
