{% extends "base.html" %}

{% load base_extra %}
{% load webdesign %}

{% block title %}{{ SITE_NAME }} - Portfolio{% endblock %}

{% block content %}
<div class="page-header">
  <div class="row-fluid">
    <div class="span1">
      <div class="thumbnail"><img src="http://placehold.it/100x100" alt="" />
      </div>
    </div>
    <div class="span11">
      <h1>{{ viewing_user.get_full_name }}</h1>
      {% if profile.degree %} <h6>{{ profile.get_degree_display }} {{ profile.get_role_display }} from {{ profile.institute }}</h6>
      {% else %} <h6>{{ profile.get_role_display }} from {{ profile.institute }}</h6>
      {% endif %} <div class="vertical-space"></div>
      <div class="row-fluid">
        <ul class="thumbnails">
          {% for b in badges %}
          <li>
            <a class="thumbnail" rel="popover" data-content="Obtained: {{ b.obtained }}<br />EXP: {{ b.exp }}<br />" data-original-title="{{ b.badge }}"> <img src="http://placehold.it/30x30" alt="" /> </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="row-fluid">
      <h3>Schoolax Grade: <span id="grade-box">{{ profile.get_grade_display }}</span></h3>
      <h3>Gauge: <span id="exp-box">{{ profile.grade_gauge }}</span></h3>
      <div id="grade-gauge" class="progress">
        <div class="bar"></div>
      </div>
      {% if viewing_user == user %} <a class="btn btn-primary btn-mini" onclick="Dajaxice.portfolio.plus_exp(update_exp);"> <i class="icon-plus icon-white"></i> EXP</a>
      <a class="btn btn-primary btn-mini" onclick="Dajaxice.portfolio.minus_exp(update_exp);"> <i class="icon-minus icon-white"></i> EXP</a>
      {% endif %}
    </div>
    <div class="row-fluid">
      <div class="span6">
        {% with specializations=viewing_user.specialization_set.all %} <h3>Specialization{{ specializations.count|pluralize }}:</h3>
        {% for specialization in specializations %} <h6>{{ specialization.name }}</h6>
        {% empty %} <h6>No Specialization Yet!</h6>
        {% endfor %}
        {% if viewing_user == user %} <div class="vertical-space"></div>
        <a data-toggle="modal" href="#add-specialization" class="btn btn-mini btn-info"><i class="icon-plus icon-white"></i> Specialization </a>
        {% endif %}
        {% endwith %}
      </div>
      <div class="span6">
        <h3>Skill{{ skills_data|length|pluralize }}:</h3>
        {% for skill_data in skills_data %}
        <div skill-assign-id="{{ skill_data.skill.id }}" class="skill">
          <h5>{{ skill_data.skill.name }}</h5>
          <h6>Average Rating: {{ skill_data.average_rating }}</h6>
          <h6>Total Ratings: {{ skill_data.total_ratings }}</h6>
          <div class="skill-rating-bar progress" rating="{{ skill_data.average_rating }}">
            <div class="bar"></div>
          </div>
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-mini {% active_rating 1 skill_data.average_rating %}">1</button>
            <button class="btn btn-mini {% active_rating 2 skill_data.average_rating %}">2</button>
            <button class="btn btn-mini {% active_rating 3 skill_data.average_rating %}">3</button>
            <button class="btn btn-mini {% active_rating 4 skill_data.average_rating %}">4</button>
            <button class="btn btn-mini {% active_rating 5 skill_data.average_rating %}">5</button>
          </div>
        </div>
        {% empty %}
        <h6>No Skill Yet!</h6>
        {% endfor %}
        {% if viewing_user == user %} <div class="vertical-space"></div>
        <a data-toggle="modal" href="#add-skill" class="btn btn-mini btn-info"><i class="icon-plus icon-white"></i> Skill </a>
        {% endif %}
      </div>
    </div>
    <div class="vertical-space"></div>
    <div class="row-fluid">
      {% if profile.role = 'S' %} <h3>Encouragement{{ encouragements_approved.count|pluralize }}:</h3>
      <div class="vertical-space"></div>
      {% if viewing_user != user %} <div class="vertical-space"></div>
      <a data-toggle="modal" href="#encouragement" class="btn btn-mini btn-warning"><i class="icon-pencil icon-white"></i> Encouragement </a>
      <div class="vertical-space"></div>
      <div class="vertical-space"></div>
      {% endif %}
      {% for encouragement in encouragements_approved %}
      <blockquote>
        <h6>{{ encouragement.sent_time }}</h6>
        <p>
          <i>"{{ encouragement.message }}"</i>
        </p><small>{% if encouragement.anonymous %} Anonymous {% else %} <a href="{% url portfolio %}{{ encouragement.person_from.user.username }}">{{ encouragement.person_from.get_full_name }}</a>{% endif %}</small>
      </blockquote>
      {% empty %} <h6>No Encouragement Yet!</h6>
      {% endfor %}
      {% endif %}
    </div>
    <div class="row-fluid">
      {% if profile.role = 'S' and viewing_user == user  %} <h3>To Be Approved:</h3>
      <div class="vertical-space"></div>
      {% for encouragement in encouragements_unapproved %}
      <blockquote encouragement-id="{{ encouragement.id }}" class="encouragement">
        <h6>{{ encouragement.sent_time }}</h6>
        <p>
          <i>"{{ encouragement.message }}"</i>
        </p>
        <div class="vertical-space"></div>
        <a class="btn btn-mini btn-success btn-approve hide"> Approve </a>
        <a class="btn btn-mini btn-danger btn-remove hide"> Remove </a>
      </blockquote>
      {% empty %} <h6>No New Encouragements!</h6>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="span6">
    <div class="row-fluid">
      <form class="form-search">
        <input type="text" class="input-large">
        <button type="submit" class="btn">
          Search Anyone
        </button>
      </form>
      <h3>Related:</h3>
      <div class="vertical-space"></div>
      {% for p in related %}
      <div class="well">
        <h5><a href="{% url portfolio %}{{ p.user.username }}">{{ p }}</a></h5>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function update_exp(data) {
    $('#grade-box').html(data.grade);
    $('#exp-box').html(data.exp);
    render_gauge(data.exp);
  }

  function render_gauge(value) {
    var percentage = (value + 100) / 2;
    $('#grade-gauge .bar').attr('style', 'width: ' + percentage + '%');
    $('#grade-gauge').removeClass('progress-success');
    $('#grade-gauge').removeClass('progress-error');
    $('#grade-gauge').removeClass('progress-warning');
    if(percentage >= 66) {
      $('#grade-gauge').addClass('progress-success');
    } else if(percentage <= 33) {
      $('#grade-gauge').addClass('progress-danger');
    } else {
      $('#grade-gauge').addClass('progress-warning');
    }
  }

  function render_skill_rating() {
    $('.skill-rating-bar').each(function(i) {
      var average_rating = parseFloat($(this).attr('rating'));
      var adjusted_rating = average_rating * 20;
      $(this).find('.bar').attr('style', 'width: ' + adjusted_rating + '%');
    });
  }
  
  $(document).ready(function() {
    render_gauge({{ profile.grade_gauge }});
    render_skill_rating();
    $('.encouragement').hover(function() {
      $(this).find('.btn-approve').removeClass('hide');
      $(this).find('.btn-remove').removeClass('hide');
    }, function() {
      $(this).find('.btn-approve').addClass('hide');
      $(this).find('.btn-remove').addClass('hide');
    });
    $('.encouragement .btn-approve').click(function() {
      var elem = $(this)
      var encouragement_id = elem.parent().attr('encouragement-id');
      var approve_encouragement_callback = function(data) {
        if(data.status == 'OK') {
          window.location.reload();
        }
      };
      Dajaxice.portfolio.approve_encouragement(approve_encouragement_callback, {
        'encouragement_id' : encouragement_id,
        'approve' : true,
      });
    });
    $('.encouragement .btn-remove').click(function() {
      var elem = $(this);
      var encouragement_id = elem.parent().attr('encouragement-id');
      var disapprove_encouragement_callback = function(data) {
        if(data.status == 'OK') {
          elem.parent().remove();
        }
      };
      Dajaxice.portfolio.approve_encouragement(disapprove_encouragement_callback, {
        'encouragement_id' : encouragement_id,
        'approve' : false,
      });
    });
  });
</script>
{% include "modal/add-specialization.html" %}
{% include "modal/add-skill.html" %}
{% include "modal/encouragement.html" %}

{% endblock %} 